<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />    
    <!--s1 maximizer panel-->
    <add key="ErrLogFile" value="D:\UpWOrk\Error.log" />
    <add key="MaximizerDatabase" value="s1" />
    <add key="MaximizerUID" value="s1web" />
    <add key="MaximizerPassword" value="maximizer" />
    <!--s1 end-->
    
    <!--Escona Tutorial maximizer panel-->    
    <add key="EsconaTutorialMaximizerDatabase" value="EsconaTutorial" />
    <add key="EsconaTutorialMaximizerUID" value="MASTER" />
    <add key="EsconaTutorialMaximizerPassword" value="control" />
    <!--Escona Tutorial end-->
    
    <!--Cessnock Admin maximizer panel-->
    <add key="CessnockAdminMaximizerDatabase" value="CN" />
    <add key="CessnockAdminMaximizerUID" value="cessadmin" />
    <add key="CessnockAdminMaximizerPassword" value="maximizer" />
    <add key="CessnockWebAPIKey" value="18fe473a3c0f717da14b95dd18f06819" />
    <!--Cessnock end-->
    <!--GTPQ maximizer panel-->
    <add key="GPTQMaximizerDatabase" value="GPTQ" />
    <add key="GPTQMaximizerUID" value="GPTQJOTFORM" />
    <add key="GPTQMaximizerPassword" value="maximizer" />
    <add key="GTPQWebAPIKey" value="1e652de06ff84d0713c552acf162f4ec" />
    <!--GPTQ end-->
    
    <!--Rigon maximizer panel-->    
    <add key="RigonMaximizerDatabase" value="RIGCRM" />
    <add key="RigonMaximizerUID" value="MYOBSYNC" />
    <add key="RigonMaximizerPassword" value="maximizer" />
    <!--Rigon end-->

    <!--PK maximizer panel-->
    <add key="PKMaximizerDatabase" value="PK" />
    <add key="PKMaximizerUID" value="pkmyob" />
    <add key="PKMaximizerPassword" value="maximizer" />
    <!--PK end-->
    
    <!--US CRM maximizer panel-->    
    <add key="USMaximizerDatabase" value="US" />
    <add key="USMaximizerUID" value="USWEBUPDATE" />
    <add key="USMaximizerPassword" value="uswebupdatexyz1234" />
    <!--Escona Tutorial end-->

    <!-- List Id  For Client "Greater Springfield" -->
    <add key="GreaterSpringfield_ListId" value="dcda6f8b9bcb5155092d5b8b1cdc5d35" />
    <add key="GreaterSpringfield_APIKey" value="d251ae4b00b656cf41ecfb169bd016be" />
    <add key="GreaterSpringfield_ClientID" value="92dee68fba34ba65260c3bba3028a31c" />
    <!--Campaign Monitor-->    
    <add key="GreaterSpringfield_APIKey_CampaignMonitor" value="db7a4336afb5a7c6791c5ecea89f35a2" />
    <add key="GreaterSpringfield_ClientID_CampaignMonitor" value="59b8315e6816f8c7bd6faca5b698f157" />
    <add key="GreaterSpringfield_GolfGeneral" value="golf, general" />
    <add key="GreaterSpringfield_FEWD" value="functions events weddings dining" />
    <!--Campaign Monitor End-->    
    <!-- Greater Springfield For End -->
    
    <!-- MYOBApi Credential -->
    <add key="LocalApiUrl" value="https://api.myob.com/accountright" />    
    <add key="RedirectUri" value="https://btc.modelbuzz.in/home/myobAccRight2max" />
    <!-- Rigon CRM  Redirect Uri -->
    <add key="SyncMyOb2CRM_RedirectUri" value="https://btc.modelbuzz.in/home/SyncMyOb2CRM" />
    <add key="SyncMyOb2CRMDateFilter_RedirectUri" value="https://btc.modelbuzz.in/home/SyncMyOb2CrmDateFilter" />
    <add key="MyObCompany" value="Rigon Pty Ltd" />
    <add key="DeveloperKey" value="x7hutaawb6twu2f7ekt6n5af" />
    <add key="DeveloperSecret" value="zeq9rFjWytpQK6jFxuhgywCy" />
    <!-- PK CRM  Redirect Uri -->
    <add key="SyncMyOb2CRM_RedirectUriForPK" value="https://btc.modelbuzz.in/home/SyncMyOb2NicknCRM" />
    <add key="MyObCompanyFoPK" value="PK Pty Ltd" />
    <add key="DeveloperKeyFoPK" value="x7hutaawb6twu2f7ekt6n5af" />
    <add key="DeveloperSecretFoPK" value="zeq9rFjWytpQK6jFxuhgywCy" />
    
    
    <add key="TokensFilePath" value="/images/Tokens.json" />
    <add key="XMLFilePath" value="/images/info.xml" />
    <add key="MyObCompanyInvoice" value="API Sandbox Demo 132" /> <!-- API Sandbox Demo 132 -->



    <add key="FinancialYearExtend" value="4" />
    <add key="TotalFinancialYear" value="10" />
    <add key="FinancialYearStartDateMonth" value="07" />
    <add key="FinancialYearEndDateMonth" value="06" />
    <add key="FinancialYearCRMFolder" value="YTD Sales" />
    <add key="MonthlySalesCRMFolder" value="Monthly Sales" />
    <add key="FYMonthlySalesCRMFolder" value="[REPLACEYEAR] FY Monthly Sales" />
    <!--Orders Folder-->
    <add key="FYOrdersCRMFolder" value="FY [REPLACEYEAR] Orders" />

    <add key="UpdateOnlyCurrentYear" value="1" />
    <add key="UpdateUDF_MYOBSalesYTD" value="0" />
    <add key="MYOBUID_UDF" value="95" />
    
    <!-- MYOBApi For End -->

    <!--Mail configuration-->
    <add key="smtpServer" value="smtp.sendgrid.net" />
    <add key="smtpAuthEmail" value="ryancrmpro2" />
    <add key="smtpAuthPassword" value="0wnzyourdick" />
    <add key="smtpPort" value="587" />
    <add key="smtpEnableSSL" value="true" />
    <add key="emailFrom" value="s1@crmhd.com" />
    <add key="SupportMailId" value="info@brookwater.com.au" />    
    <add key="bccEmail" value="ryan@crmpro.com.au" />
    <add key="MultipleBCCEmail" value="ryan@crmpro.com.au,manoj@setblue.com" />
    <add key="sitename" value="Brookwater" />
    <add key="expirein" value="1080" />
    
    
    <!--<add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpAuthEmail" value="manoj@setblue.com" />
    <add key="smtpAuthPassword" value="manoj@789" />
    <add key="smtpPort" value="587" />
    <add key="smtpEnableSSL" value="false" />
    <add key="emailFrom" value="manoj@setblue.com" />
    <add key="fromEmail" value="manoj@setblue.com" />
    <add key="bccEmail" value="manoj@setblue.com" />
    <add key="MultipleBCCEmail" value="manoj@setblue.com" />-->
    
    <!--End Mail configuration-->


  </appSettings>
  <system.web>
    <!--<sessionState  timeout="2" mode="InProc"/>-->
    <globalization uiCulture="en" culture="en-GB" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IData" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IData1" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IData2" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IData3" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="BasicHttpBinding_IData4" closeTimeout="09:39:00"
          openTimeout="09:39:00" receiveTimeout="09:39:00" sendTimeout="09:39:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IData5" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IData6" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://s1.crmhd.com/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData"
        contract="Maximizerwebdata.IData" name="BasicHttpBinding_IData" />
      <endpoint address="https://cessnock.crmhd.com/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData1"
        contract="CessnockAdminWebData.IData" name="BasicHttpBinding_IData1" />
      <endpoint address="https://gptq.crmhd.com/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData2"
        contract="GptqWebData.IData" name="BasicHttpBinding_IData2" />
      <endpoint address="http://nomorehack12345.zapto.org:6060/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData3"
        contract="EsconaTutorialServiceReference.IData" name="BasicHttpBinding_IData3" />
      <endpoint address="https://rigon.crmhd.com/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData4"
        contract="RigonServiceReferenceData.IData" name="BasicHttpBinding_IData4" />
      <endpoint address="https://us.crmhd.com/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData5"
        contract="USServiceReference.IData" name="BasicHttpBinding_IData5" />
      <endpoint address="https://pk.crmhd.com/MaximizerWebData/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData6"
        contract="PKServiceReference.IData" name="BasicHttpBinding_IData6" />
    </client>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  
</configuration>
